<div class="reset flex between">
    <div class="reset-r flex flex-column">
        <div class="logo">
            <img src="@/assets/img/logo_1.png" />
        </div>
        <p class="welcome">手机验证码找回</p>
        <div class="reset-wrap flex flex-column">
            <div class="input-wrap flex flex-column">
                <input
                    maxlength="11"
                    type="tel"
                    @blur="phoneBlur"
                    v-model="phone"
                    autocomplete="off"
                    placeholder="请输入个人手机账户"
                />
                <div @click="sendCode" class="vrification-code" :class="{ gray: codeText !== '获取验证码' }">
                    {{ codeText }}
                </div>
                <p class="error" v-if="phoneErr">{{ phoneErrText }}</p>
            </div>
            <div class="input-wrap flex flex-column">
                <input
                    type="tel"
                    maxlength="6"
                    @blur="codeBlur"
                    v-model="code"
                    autocomplete="off"
                    placeholder="请输入手机验证码"
                />
                <p v-if="codeErr" class="error">{{ codeErrText }}</p>
            </div>
            <div class="input-wrap flex">
                <input type="password" v-model="password" autocomplete="off" placeholder="请输入新密码" />
            </div>
            <div class="input-wrap flex flex-column">
                <input
                    @blur="passBlur"
                    type="password"
                    v-model="newPassword"
                    autocomplete="off"
                    placeholder="请再次输入新密码"
                />
                <p v-if="passErr" class="error">{{ passErrText }}</p>
            </div>
            <div @click="submit" class="reset-btn">确 认</div>
        </div>
    </div>
</div>
