<div class="container">
    <div class="form_wrapper">
        <div class="license_wrapper">
            <div class="license_title">
                <label>许可证*</label>
                <p><span>{{uploadPhotoNum}}</span>/3</p>
            </div>
            <div class="license_photo">
                <div class="license_img_add" v-for="(item,index) in uploadFileImg" :key="index">
                    <div class="license_img_box" v-if="item" @click="switchLicence(index)">
                        <img :src="item">
                        <div class="shade"></div>
                        <van-icon name="clear" class="icon_close" @click="removePhoto(index)" />
                    </div>
                    <div class="license_img_box" v-else>
                        <p>+</p>
                        <span>点击上传</span>
                    </div>
                    <CreateChooseImg @getCameraImg="getCameraImg" :getImgSub="index" v-if="!item"></CreateChooseImg>
                </div>
            </div>
        </div>
    </div>
    <div class="form_info">
        <ul v-for="(item,index) in licenceList" :key="index" v-if="showLicenceSub === index">
            <li>
                <label>执照类型名称*</label>
                <input type="text" placeholder="请输入执照类型名称" v-model="item.licenseTypeName" />
            </li>
            <li>
                <label>许可证编码*</label>
                <input type="text" placeholder="请输入许可证编码" v-model="item.licenseNumber" />
            </li>
            <li>
                <label>注册地址*</label>
                <input type="text" placeholder="注册地址" v-model="item.licenseRegistrationAddress" />
            </li>
            <li>
                <label>有效期至*</label>
                <input type="button" v-model="item.licenseValidity" class="input_btn" @click="showCalendar(1)" />
                <van-icon name="arrow" class="icon_arrow" />
            </li>
            <li>
                <label>签发日期*</label>
                <input type="button" v-model="item.licenseApprovalTime" class="input_btn" @click="showCalendar(2)" />
                <van-icon name="arrow" class="icon_arrow" />
            </li>
            <li class="range_wrapper">
                <label>备注</label>
                <textarea type="text" placeholder="请输入备注信息，如地方法规，行业规范等！" v-model="item.remark"></textarea>
            </li>
        </ul>
    </div>
    <van-button type="primary" @click="nextStep">继续补充</van-button>
    <van-calendar v-model="calendar" @confirm="getValidity" color="#31CF6E" :min-date="minDate" :max-date="maxDate" />

</div>