<div class="container">
    <div class="problem_menu">
        <div class="problem_item">
            <h4>Q1:为什么需要上传营业执照</h4>
            <p>营业执照用于线上商城陈列展示，主要解决线上用户对门店营业资质信息的查询，方便公众获取门店相关法律信息！</p>
        </div>
        <div class="problem_item">
            <h4>Q2:上传过程中遇到问题</h4>
            <p>信息在上传编辑过程中，如果遇到无法提供或者无法上传的信息，请联系区域运营沟通解决。</p>
        </div>
        <div class="problem_item">
            <h4>Q3:为什么需要上传许可证等信息</h4>
            <p>营业执照用于线上商城陈列展示，许可证等材料用户提交至第三方平台用于开拓线上外卖业务，完整的信息有助于降低客诉哦！</p>
        </div>
        <div class="problem_item">
            <h4>Q4:已经提交过信息还要提交？</h4>
            <p>已经上传的信息登录后系统会默认展示，如果确认无误继续下一步即可，如果存在信息需要更新则直接编辑，编辑后的信息通过审核之后将会替换原有信息！</p>
        </div>
        <div class="problem_item">
            <h4>Q5:审核周期为多久？</h4>
            <p>三个工作日即可完成审核，审核通过之后新的信息将会覆盖已有信息，会影响对账结算，以及线上店铺运营等活动哦，请注意信息维护并保证准确哦！</p>
        </div>
    </div>
</div>