<div class="container">
    <div class="form_wrapper">
        <div class="license_wrapper">
            <div class="license_title">
                <h3>营业执照</h3>
            </div>
            <ul>
                <li>
                    <label>营业执照名称<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.businessLicenseName" placeholder="请输入营业执照名称" />
                </li>
                <li>
                    <label>经营店铺名称<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.shopName" placeholder="请输入经营店铺名称" />
                </li>
                <li>
                    <label>法定代表人<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.legalRepresentativeName" placeholder="请输入法定代表人" />
                </li>
                <li>
                    <label>营业执照地址<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.businessRegisteredAddress" placeholder="请输入营业执照地址" />
                </li>
                <li>
                    <label>统一信用代码<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.unifiedCreditCode" placeholder="请输入统一信用代码" />
                </li>
                <li>
                    <label>营业执照注册日期<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.startBusinessTermValidity" placeholder="请选择营业执照注册日期" />
                </li>
                <li>
                    <label>营业执照有效期<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.businessTermValidity" placeholder="请选择营业执照有效期" />
                </li>
                <li>
                    <label>营业执照核准日期<i>*</i></label>
                    <input disabled type="text" v-model="standardInfo.businessApprovalTime" placeholder="请选择营业执照核准日期" />
                </li>

                <!-- <li>
                    <label>营业执照有效期<i>*</i></label>
                    <input disabled type="button" value="请选择营业执照有效期" class="input disabled_btn" @click="changeCalendar" data-id="2" />
                    <van-icon name="arrow" class="icon_arrow" />
                </li>
                <li>
                    <label>营业执照核准日期<i>*</i></label>
                    <input disabled type="button" value="请选择营业执照核准日期" class="input disabled_btn" @click="changeCalendar" data-id="3" />
                    <van-icon name="arrow" class="icon_arrow" />
                </li> -->
                <li>
                    <label>经营范围<i>*</i></label>
                    <div class="range_title">{{standardInfo.businessScope}}</div>
                </li>
                <li class="license_img">
                    <div class="license_title0">
                        <label>营业执照<i>*</i></label>
                        <!-- <p><span>{{standardInfo.businessLicensePhoto.length}}</span>/3</p> -->
                    </div>
                    <div class="license_photo">
                        <img :src="item" v-for="(item,index) in standardInfo.businessLicensePhoto">
                    </div>
                </li>
            </ul>
        </div>
        <div class="license_wrapper">
            <div class="license_title">
                <h3>财务信息</h3>
            </div>
            <ul v-for="(item,index) in standardInfo.paymentList" :key="index">
                <li>
                    <label>银行卡户名<i>*</i></label>
                    <input disabled type="text" placeholder="请输入银行户名" v-model="item.bankCardName" />
                </li>
                <li>
                    <label>银行卡号<i>*</i></label>
                    <input disabled type="number" placeholder="请输入银行卡号" v-model="item.bankCardNumber" />
                </li>
                <li>
                    <label>银行开户行<i>*</i></label>
                    <input disabled type="text" placeholder="请输入银行开户行" v-model="item.bankCardDeposit" />
                </li>
                <li>
                    <label>银行预留手机号<i>*</i></label>
                    <input disabled type="number" placeholder="请输入银行预留手机号" v-model="item.bankCardPhone" />
                </li>
            </ul>
            <ul>
                <li>
                    <label>支付宝账户<i>*</i></label>
                    <input disabled type="text" placeholder="请输入支付宝账户" v-model="standardInfo.alipayAccount" />
                </li>
                <li>
                    <label>微信商户号<i>*</i></label>
                    <input disabled type="text" placeholder="请输入微信商户号" v-model="standardInfo.wechatMerchant" />
                </li>
            </ul>
        </div>
    </div>
    <van-button type="primary" @click="nextStep">确认无误·继续补充</van-button>
    <van-calendar v-model="showCalendar" @confirm="getDate" color="#31CF6E" />
</div>