<div class="container">
    <div class="form_wrapper">
        <ul>
            <li>
                <label>收银系统*</label>
                <input type="button" :value="financeInfo.cashierSystemCn" :class="[financeInfo.cashierSystem !== '' ? 'color' : '','cashier_btn']" @click="changePicker" />
                <van-icon name="arrow" class="icon_arrow" />
            </li>
            <li>
                <label>支付宝账号*</label>
                <input type="text" placeholder="请输入支付宝账户" v-model="financeInfo.alipayAccount" />
                <van-icon name="question-o" class="icon_question" @click="showNotes" data-notes="支付宝账号" />
            </li>
            <li>
                <label>微信商户号*</label>
                <input type="text" placeholder="请输入微信商户号" v-model="financeInfo.wechatMerchant" />
                <van-icon name="question-o" class="icon_question" @click="showNotes" data-notes="微信商户账号" />
            </li>
        </ul>
        <div class="makeMoney_wrapper">
            <div class="makeMoney_title">
                <h3>收款方式*</h3>
                <span @click="addPayment">新增收款方</span>
            </div>
            <ol v-for="(item,index) in financeInfo.paymentList" :key="index">
                <li>
                    <label>银行卡户名*</label>
                    <input type="text" placeholder="请输入银行卡户名" v-model="item.bankCardName" />
                </li>
                <li>
                    <label>银行卡号*</label>
                    <input type="number" placeholder="请输入银行卡号" v-model="item.bankCardNumber" />
                </li>
                <li>
                    <label>开户行*</label>
                    <input type="text" placeholder="请输入银行开户行" v-model="item.bankCardDeposit" />
                </li>
                <li>
                    <label>手机号码*</label>
                    <input type="number" placeholder="请输入银行卡绑定手机号" v-model="item.bankCardPhone" />
                </li>
                <li class="remove" v-if="index>0" @click="removePayment">
                    <van-icon name="close" class="close_btn" />
                </li>
            </ol>
        </div>
    </div>
    <van-button type="primary" @click="nextStep">保存 · 下一步</van-button>
    <van-popup v-model="showPicker" position="bottom">
        <van-picker show-toolbar title="收银系统" :columns="cashierColumns" @cancel="cancelPicker" @confirm="confirmPicker" ref="picker" />
    </van-popup>

</div>