<div class="container">
    <div class="problem_menu">
        <div class="problem_item">
            <h4>Q1:为什么需要上传营业执照</h4>
            <p>营业执照用于线上商城陈列展示，主要解决线上用户对门店营业资质信息的查询，方便公众获取门店相关法律信息！</p>
        </div>
        <div class="problem_item">
            <h4>Q1:为什么需要上传营业执照</h4>
            <p>营业执照用于线上商城陈列展示，主要解决线上用户对门店营业资质信息的查询，方便公众获取门店相关法律信息！</p>
        </div>
        <div class="problem_item">
            <h4>Q1:为什么需要上传营业执照</h4>
            <p>营业执照用于线上商城陈列展示，主要解决线上用户对门店营业资质信息的查询，方便公众获取门店相关法律信息！</p>
        </div>
    </div>
</div>