<div class="container">
    <div class="agreement_wrapper">
        <h3>锅圈运营服务协议</h3>
        <span>商家必读：</span>
        <div class="scroll_box">
            <div class="center">平台代运营合作协议（2020版）</div><br>
            <div class="left">发布日期：2020年9月24日</div>
            <div class="left">生效日期：2020年12月31日</div><br>
            <p>根据《中华人民共和国合同法》等相关法律、法规的规定，甲乙双方本着自愿、平等、诚实信用的原则，就锅圈供应链（上海）有限公司为甲方提供第三方流量平台外卖业务代运营等相关事宜共同缔结本协议，本协议具有法律效力。双方经友好协商，达成如下条款：
            </p><br>
            <b>一 定义</b><br><br>
            <p>第三方流量平台：指“饿了么”、“美团外卖”、“京东到家”、“口碑” 等平台。</p><br>
            <b>二 合作方式</b><br><br>
            <p>锅圈供应链（上海）有限公司为甲方提供第三方流量平台代运营服务，包含但不限于门店基础建设、平台对接、商品运营、活动运营、品牌运营。</p><br>
            <b>三 费用及支付方式</b><br><br>
            <p>1、第三方流量平台代运营服务费及项目启动费的结算周期： （1）每月月初前5个工作日内，甲乙双方应就上个自然月的交易完成账单金额和代运营服务费进行对账确认；双方就应结算的服务费确认无异议后，甲方在每月15日前将上月服务费支付到锅圈供应链（上海）有限公司指定账户。如甲方逾期30天未支付锅圈供应链（上海）有限公司代运营服务费的，锅圈供应链（上海）有限公司有权暂停服务并解除本协议,但并不免除锅圈供应链（上海）有限公司应付未付的代运营服务费及相应的违约责任。 （2）甲方应于收到锅圈供应链（上海）有限公司提交的代运营服务费结算单后3个工作日内进行确认，若甲方有异议的，应在该期限内向锅圈供应链（上海）有限公司提出异议，双方2个工作日内对账单明细做出确认结果；若甲方逾期未确认或未提出异议的，视为甲方已确认锅圈供应链（上海）有限公司对账单结算金额。
                2、结算逾期： （1）如甲方无故拖欠或逾期支付锅圈供应链（上海）有限公司本协议约定的任何费用的，锅圈供应链（上海）有限公司将按未结算费用的千分之一/天的利息计算逾期费用，向甲方累计收取逾期费用和未结算费用； （2）如甲方逾期30天未支付本协议约定的任一费用的，锅圈供应链（上海）有限公司有权单方解除此协议并向甲方追收所有未结清款项和其他损失，并且锅圈供应链（上海）有限公司将视情况选择走法律诉讼程序向甲方追收欠款。 3、甲方指定付款账户，甲方有权通过甲方账户或指定的第三方账户付款。甲方指定付款账户信息以此页面提交为准！如下：
                付款方式（请勾选） □银行账户信息 □支付宝账户信息 户名： 银行账号： 开户行： 户名： 支付宝账号： 4、开具发票 针对锅圈供应链（上海）有限公司向甲方收取的各项费用，锅圈供应链（上海）有限公司有义务在收到费用后5个工作日内提供合规的增值税□普通发票/□专用发票于甲方。甲方开票信息通过书面形式送达 5、锅圈供应链（上海）有限公司指定收款账户信息如下： 6、保证金 （1）保证金：本协议生效后5个工作日内，甲方向锅圈供应链（上海）有限公司支付保证金人民币： 元（大写：
                圆整）。该保证金用于规范甲方履行付款及其他行为。 （2）如甲方逾期30天未支付本协议约定的任一费用，或是进行任何违法违规操作致使锅圈供应链（上海）有限公司受到任何经济损失，或是本协议履行过程中甲方有任何违约行为产生违约金的，锅圈供应链（上海）有限公司有权直接从保证金中扣除相应金额，并通知甲方补足保证金金额。 （3）甲方应于收到锅圈供应链（上海）有限公司通知后5个工作日内补足保证金金额。如保证金金额不足以抵扣甲方应向锅圈供应链（上海）有限公司支付的服务费用、违约金、赔偿金等款项的，甲方应在补足保证金金额后继续向锅圈供应链（上海）有限公司支付剩余费用。
                （4）本协议有效期结束后10个工作日内，若甲方未出现未结清费用或是其他违法违规行为致使保证金金额不足等违约情形的，锅圈供应链（上海）有限公司将保证金全额无息退还至甲方账户。
            </p><br>
            <b>四 双方的权利与义务</b><br><br>
            <p>锅圈供应链（上海）有限公司为甲方提供第三方流量平台代运营服务； 甲方应配合锅圈供应链（上海）有限公司需求及时提供锅圈供应链（上海）有限公司所需一切资料，因甲方资料提供不及时而导致锅圈供应链（上海）有限公司无法按时提供服务的，责任由甲方自行承担； 锅圈供应链（上海）有限公司向甲方提供合法合规的代运营方案和运营服务内容经甲方确认后，甲方在第三方流量平台的运营方式和运营效果由甲方自主决定和承担； 甲方店铺在第三方流量平台上所有活动由锅圈供应链（上海）有限公司统一制定，锅圈供应链（上海）有限公司保证甲方在第三方流量平台上的整体利润，活动的营销支出由甲方自行承担，如甲方自行进行活动或修改价格导致的亏损由甲方自行承担全部责任；
                甲方在第三方流量平台的交易行为及其后果均由甲方全权承担，由菜品品质和配送等原因产生的交易客诉和售后行为由甲方完全负责；如甲方涉及违规或违法的交易行为由甲方承担； 合作期间，锅圈供应链（上海）有限公司为甲方提供产品拍摄及设计服务，锅圈供应链（上海）有限公司为甲方拍摄的照片及设计不得用于其他品牌； 如甲方仅有权将锅圈供应链（上海）有限公司的照片及设计用于双方的合作门店，双方合作满一年之后，照片及设计所有权归甲方，如违反规定，锅圈供应链（上海）有限公司有权向甲方收取照片及设计的版权费用（按照市场价格100元/张计算）；锅圈供应链（上海）有限公司每次拍摄在50张照片以内，超出部分按100元/张向甲方收取费用；每年拍摄不超过2次；
                甲方应遵守使用锅圈供应链（上海）有限公司产品及服务相关的法律法规并对使用产品和服务期间发生的行为负责； 10、如甲方的交易行为违规或违法（包括但不限于甲方没有相关行业的经营资质、参与或从事违法犯罪活动等），其法律后果均由甲方承担。锅圈供应链（上海）有限公司有权立即解除本协议且不承担任何违约责任； 11、不论甲乙双方以何种形式进行合作，甲方以何种理由单方面提出提前解除本协议，或是经双方协商一致后提前解除本协议的，所有甲方已支付的费用锅圈供应链（上海）有限公司不予退还，甲方表示认同；
                12、自本协议生效之日起，即视为甲方同意授权锅圈供应链（上海）有限公司登录需代运营平台的甲方店铺账户进行各项本协议约定的操作，并获取账户内信息用于数据分析等目的。甲方应及时向锅圈供应链（上海）有限公司提供账户信息（包括但不限于账号、密码等）供锅圈供应链（上海）有限公司操作。
            </p><br>
            <b>五 保密条款及知识产权</b><br><br>
            <p>本协议项下保密信息是指包括但不限于因履行本协议或在本协议期间获得或收到的对方商务、财务、技术、代运营方案、产品信息、用户资料、双方合作方式及收费方式，或其他标明保密的文件信息。 甲方保证：不得将本协议的各项条款、锅圈供应链（上海）有限公司提供的服务内容、代运营服务费点位、营销方案和双方另行商定的其他事项向任何第三方披露。 锅圈供应链（上海）有限公司保证：不得将甲方的商业信息、外卖平台的经营数据、营销策略等各项信息向任何第三方披露。 除非事先得到另一方的书面许可，甲乙双方均不得将本协议中的内容及在本协议执行
                过程中获得的对方商业保密信息向任何第三方泄露，泄露方将赔偿信息披露方因此遭受的一切损失。 3、 本保密义务在本协议期满、解除或终止后仍然有效。 4、 锅圈供应链（上海）有限公司为履行本协议产生的全部智力成果及知识产权自锅圈供应链（上海）有限公司创作完成之日归锅圈供应链（上海）有限公司自己所有。 5、 甲方若因品牌运行的其他需求使用锅圈供应链（上海）有限公司的智力成果（包括但不限于照片、设计方案、包装等），经锅圈供应链（上海）有限公司同意后方可使用且需要向锅圈供应链（上海）有限公司支付相应的费用。
                6、 若经过双方的前期友好协商，锅圈供应链（上海）有限公司自愿将相应的智力成果及知识产权赠予甲方，则自赠送行为完成之时，视为锅圈供应链（上海）有限公司自动放弃相关知识产权。 7、 甲方支付相应价款购买的或接受锅圈供应链（上海）有限公司赠予的智力成果及知识产权，原则上限于甲方使用， 若甲方出于其他需求需要将该智力成果及知识产权转让或授权给第三方使用，需经锅圈供应链（上海）有限公司的书面许可。 8、锅圈供应链（上海）有限公司承诺锅圈供应链（上海）有限公司因履行本协议产生的全部智力成果不侵犯任何主体的合法权利，包括但不
                限于知识产权。锅圈供应链（上海）有限公司承诺甲方对前述智力成果的使用不构成对任何主体合法权利的侵犯。 锅圈供应链（上海）有限公司有权保留、分析、使用为履行本协议之目的而收集、或由甲方提供得到的各项甲方运营数据。锅圈供应链（上海）有限公司承诺绝不将上述数据传播、分享至第三方。
            </p><br>
            <b>六 违约责任</b><br><br>
            <p> 因非锅圈供应链（上海）有限公司原因导致本协议无法履行或导致第三方合法权益受损的，锅圈供应链（上海）有限公司有权单方解除本协议且保证金不予退还，甲方应向锅圈供应链（上海）有限公司全额支付应付未付的款项，且应向锅圈供应链（上海）有限公司支付相当于本协议总金额20%的违约金。
            </p><br>
            <b>七 协议有效期</b><br><br>
            <p>本协议有效期 年，自【 】年【 】月【 】日至【 】年【 】月【 】日止。 2、 双方应于本协议期限届满前一个月续签本协议。若本协议期限届满，双方没有提出不再续约，并且业务正常开展，则协议自动延期一年。 3、 若在协议有效期内，一方提出终止合作，需提前一个月以书面形式告知对方。经双方友好协定并书面同意后，方可终止。
            </p><br>
            <b>七 不可抗力</b><br><br>
            <p>1、“不可抗力”指本协议双方无法控制、不可预见、无法避免或克服的、阻止任何一方全部或部分履约的所有事件。该等事件应包括地震、台风、水灾、火灾、战争、国际或国内运输中断、政府或公共机构的行为、流行病、动乱、罢工、电信线路被人为破坏、设备因故障、调试、扩容所引起的中断、黑客攻击及其它任何不可预见、无法避免或控制的事件。 2、 如果发生不可抗力事件，一方受该事件影响的协议义务在该不可抗力造成的延误期内应中止履行，当由于上述不可抗力原因而使锅圈供应链（上海）有限公司无法履行保证时，甲方在此确认不以任何方式追究锅圈供应链（上海）有限公司未按约向甲方提供本协议中相关服务的违约责任。
                3、 如果发生不可抗力事件，双方应立即互相协商，寻找一个公平的解决办法，并且应尽一切合理努力尽量减轻该不可抗力的后果。 4、当发生包括但不限于下列情况，只是锅圈供应链（上海）有限公司无法履行本协议项下义务的，锅圈供应链（上海）有限公司不承担任何责任：（1）因云店系统遭受黑客攻击、计算机病毒入侵或遭到人为破坏导致无法使用的；（2）因电信部门调整导致重大影响的；（3）因政府或国家机关行为造成影响的；（4）因网络运营方等第三方原因，导致甲方不能正常使用锅圈供应链（上海）有限公司产品和服务的；（5）其他非因锅圈供应链（上海）有限公司原因造成影响的。
            </p><br>
            <b>八 其他事项</b><br>
            <p>1、 双方对本协议部分条款（包括但不限于合作模式、费用）需要变更或调整的，双方应另行签订书面补充协议，补充协议自双方签署后生效。 2、 本协议一式贰份，甲、乙双方各执壹份，自双方签字盖章之日起生效，具有同等法律效力。
            </p><br>
            <div class="right">
                【以下无正文，阅读点击下一步即表示同意】

            </div>
        </div>
        <div class="checked">
            <van-checkbox v-model="checked" icon-size="0.5rem" checked-color="#31CF6E"></van-checkbox>
            <p>本人已阅读并同意<span>《锅圈运营服务协议》</span></p>
        </div>
    </div>
    <van-button type="primary" @click="nextStep" :disabled="disabled">同意并继续</van-button>
</div>