<div class="container">
    <div class="agreement_wrapper">
        <h3>锅圈运营服务协议</h3>
        <span>商家必读：</span>
        <div class="scroll_box">
            协议正文协议在使用河北移动和生活APP提供的各项服务之前，您应当认真阅读并遵守《河北移动和生活APP客户服务协议》（以下简称“本协议”），请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、争议解决条款。免除或者限制责任的条款可能会以加粗字体显示，您应重点阅读。如您对协议有任何疑问，应向河北移动客服咨询。 当您按照登录页面提示填写信息、阅读并同意本协议且完成全部登录程序后，或您以其他河北移动和生活APP允许的方式实际使用河北移动和生活APP的服务时，即表示您已充分阅读、理解并接受本协议的全部内容，协议正文协议正文协议正文协议在使用河北移动和生活APP提供的各项服务之前，您应当认真阅读并遵守《河北移动和生活APP客户服务协议》（以下简称“本协议”），请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、争议解决条款。
        </div>
        <div class="checked">
            <van-checkbox v-model="checked" icon-size="0.5rem" checked-color="#31CF6E"></van-checkbox>
            <p>本人已阅读并同意<span>《锅圈运营服务协议》</span></p>
        </div>
    </div>
    <van-button type="primary" @click="nextStep">同意并继续</van-button>
</div>